@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Roboto:wght@100;300;400;500;700;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

.nav-container {
	display: flex;
	justify-content: space-between;
	max-width: 100vw;
}
.nav-buttons {
	display: flex;
	align-items: center;
	text-align: center;
}

.nav-currency {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3vw;
	min-width: max-content;
	flex-wrap: nowrap;
}
.nav-currency button {
	border: none;
	background: none;
	cursor: pointer;
	color: #1d1f22;
	font-size: 20px;
	font-family: Raleway;
}
.nav-currency img {
	margin-bottom: 3px;
}

.currency-cart {
	display: flex;
}

.nav-buttons a {
	text-decoration: none;
	color: #1d1f22;
	font-weight: 400;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	text-transform: capitalize;
	padding: 2vw;
	cursor: pointer;
	transition: 0.3s ease-out;
	transition-property: color;
}
.nav-buttons a:hover {
	color: #5ece7b;
}

.logo {
	cursor: pointer;
	margin-right: 10vw;
	margin-top: 10px;
}
.active {
	border-bottom: #5ece7b solid 1px !important;
	color: #5ece7b !important;
	font-weight: 600 !important;
}

.currency-div {
	position: absolute;
	background: white;
	top: 65px;
	box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
	z-index: 100;
}

.currency-div li {
	list-style-type: none;
	padding: 13px 40px 10px 20px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	cursor: pointer;
	color: #1d1f22;
}
.currency-div li:hover {
	box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.about-product-in-nav {
	min-width: 140px;
}

.about-product-in-nav p {
	font-family: 'Roboto', sans-serif;
}

.cart-in-nav {
	width: 20vw;
	position: absolute;
	height: 500px;
	width: 400px;
	top: 79px;
	right: 2vw;
	background-color: white;
	z-index: 100;
	overflow-y: scroll;
}
.cart-nav-wrapper {
	margin: 30px 10px;
	display: flex;
	font-weight: 300;
	font-size: 12px;
	line-height: 50%;
}
.cart-nav-div {
	display: flex;
	align-items: center;
	font-family: Raleway;
	margin: 30px 10px;
	font-weight: 300;
	font-size: 12px;
}
.my-bag span {
	font-family: Raleway;
	font-weight: bold;
	font-size: 16px;
}
.my-bag {
	font-family: Raleway;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 20px;
}
.cart-nav-wrapper h3 {
	font-family: Raleway;
	font-weight: 300;
	font-size: 16px;
	line-height: 80%;
}

.cart-nav-quantity {
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20px;
	align-items: center;
	margin-left: 50px;
	margin-right: 10px;
}
.cart-nav-quantity button {
	background-color: white;
	border: 1px solid #1d1f22;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
}

.nav-cart-buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 20px;
}
.nav-cart-buttons button {
	width: 170px;
	padding: 13px;
	background-color: white;
	font-family: Raleway;
	font-weight: 600;
	font-size: 14px;
	border: none;
	border: 1px solid #1d1f22;
	cursor: pointer;
}
#nav-cart-checkOut {
	background-color: #5ece7b;
	color: white;
	border: none;
}

.total-price {
	display: flex;
	justify-content: space-between;
	margin: 1px 18px;
}
.total-price p {
	display: inline-block;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #1d1f22;
}

.cart-in-nav::-webkit-scrollbar {
	width: 2px;
}
.cart-color-attributes label {
	display: inline-block;
	border: 1px;
	border-color: #000;
	border-style: solid;
	width: 20px;
	height: 20px;
}
/*--------------------------------------------
media 450px
---------------------------------------------*/

@media (max-width: 450px) {
	.cart-div img {
		width: 15px;
	}
	.nav-buttons a {
		font-size: 14px;
	}
	.logo {
		width: 30px;
		height: 30px;
	}
	.nav-currency button {
		font-size: 15px;
	}
	.cart-in-nav {
		width: 270px;
		position: absolute;

		left: 50%;
		transform: translate(-50%);
	}
	.cart-nav-wrapper {
		flex-direction: column;
		gap: 50px;
	}
	.nav-cart-buttons button {
		width: 100px;
		height: 30px;
		font-size: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.nav-cart-buttons {
		margin-bottom: 50px;
	}
	.nav-cart-buttons a {
		text-decoration: none;
	}
	.currency-div {
		left: 50%;
		top: 50px;
		transform: translate(10%);
	}

	.cart-nav-quantity {
		margin-left: 5px;
	}
	.add-cart-btn {
		left: 170px;
		bottom: 166px;
	}
}
